.Attractions {
    &__title {
        position: absolute;
        top: 20px;
        left: 20px;
        font-size: 25px;
        line-height: 40px;
        text-transform: uppercase;
        font-weight: 700;
    }

    &__txt {
        margin: 80px 15px 40px;

        p {
            margin-bottom: 15px;
        }
    }
}